<footer class="footer is-secondary">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image is-256x256">
          <img src="assets/images/logo.png" alt="">
        </figure>
      </div>
      <div class="column">
        <h3><span class="icon"><i class="fas fa-link"></i></span> EXPLORE DON BARBERSHOP</h3>
        <aside class="menu">
          <!-- <p class="menu&#45;label">SITE LINKS</p> -->
          <ul class="menu-list">
            <li><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Don Varcity</a></li>
            <li><a href="">Our Barbiere</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <h3><span class="icon"><i class="fas fa-clock"></i></span> OPERATION HOURS</h3>
        <ul>
          <li>Monday: Closed</li>
          <li>Tuesday: 12pm - 12am</li>
          <li>Wednesday: 12pm - 12am</li>
          <li>Thursday: 12pm - 12am</li>
          <li>Friday: 2.30pm - 12am</li>
          <li>Saturday: 9.00am - 12am</li>
          <li>Sunday: 9.00am - 12am</li>
        </ul>

      </div>
    </div>
  </div>
</footer>
<footer class="footer footer-end">
  <div class="container">
    <div class="content">
      <p>
        Copyright 2018 &copy; Don Barbershop.
        <span class="is-pulled-right">
          <a href="{% tl policies %}">{% t menu.policies %}</a> |
          <a href="{% tl terms %}">{% t menu.t&c %}</a>
        </span>
      </p>
    </div>
  </div>
</footer>

<!-- <script src="/assets/js/bin/materialize.min.js"></script> -->
<!-- <script src="/assets/js/modal.js"></script> -->
<script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/scripts.js"></script>
