<footer class="footer is-secondary">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image is-256x256">
          <img src="assets/images/logo.png" alt="">
        </figure>
      </div>
      <div class="column">
        <h3>SITE LINKS</h3>
        <aside class="menu">
          <!-- <p class="menu&#45;label">SITE LINKS</p> -->
          <ul class="menu-list">
            <li><a href="">ABOUT US</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">ABOUT US</a></li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <ul>
          <li> <a href="{% tl policies %}">{% t menu.policies %}</a> </li>
          <li> <a href="{% tl rate %}">{% t menu.rate %}</a> </li>
          <li> <a href="{% tl terms %}">{% t menu.t&c %}</a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<footer class="footer footer-end">
  <div class="container">
    <div class="content">
      <p>
        Copyright &copy; <strong>Don Barbershop</strong>. Design by
        <a href="https://niza.mudd.in">RAC Global</a>.
        <span class="is-pulled-right">Privacy Policy</span>
      </p>
    </div>
  </div>
</footer>

<!-- <script src="/assets/js/bin/materialize.min.js"></script> -->
<!-- <script src="/assets/js/modal.js"></script> -->
<script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/scripts.js"></script>
