<nav class="navbar is-fixed-top is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://donbarbershop.my">
      <img src="http://donbarbershop.my/static/images/logo.png" alt="Don Barbershop" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="mengenai-kami.html">Mengenai kami</a>
      <a class="navbar-item" href="perkhidmatan.html">Perkhidmatan</a>
      <a class="navbar-item" href="produk.html">Produk</a>
      <a class="navbar-item" href="don-varsity.html">Don Varsity</a>
      <a class="navbar-item" href="hubungi-kami.html">Hubungi kami</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/documentation/overview/start/"> Docs </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/documentation/overview/start/"> Overview </a>
          <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/"> Modifiers </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://bulma.io/documentation/elements/box/"> Elements </a>
        </div>
      </div>
    </div>
  </div>
</nav>