{% capture pageurl %}{% if site.lang == "en" %}/{{ site.lang }}{% endif %}{{ page.url }}{% endcapture %}
<li {% if page.url == "/" %} class="active" {% endif %}>
  <a href="{{ site.baseurl | append: "/" }}">{% t menu.home %}</a>
</li>
{% capture service %}{% tl perkhidmatan %}{% endcapture %}
<li {% if pageurl == service %} class="active" {% endif %}>
  <a href="{{ service }}">{% t menu.service %}</a>
</li>
<li>
  <a class="dropdown-button" href="#" data-activates="nav-products">{% t menu.product %}<i class="material-icons right">arrow_drop_down</i></a>
  <ul id="nav-products" class="dropdown-content">
    <li><a href="{% tl cwt_terminal %}">{% t menu.products.cwt %}</a></li>
    <li><a href="{% tl app %}">{% t menu.products.app %}</a></li>
    <li><a href="{% tl product_season_pass %}">{% t menu.products.season_pass %}</a></li>
    <li><a href="{% tl product_reserve_bay %}">{% t menu.products.reserve_bay %}</a></li>
  </ul>
</li>
<li>
  <a class="dropdown-button" href="#" data-activates="nav-operations">{% t menu.operation %}<i class="material-icons right">arrow_drop_down</i></a>
  <ul id="nav-operations" class="dropdown-content">
    <li><a href="{% tl terminal_ops %}">{% t menu.operations.terminal %}</a></li>
    <li><a href="{% tl operation_season_pass %}">{% t menu.operations.season_pass %}</a></li>
    <li><a href="{% tl operation_reserve_bay %}">{% t menu.operations.reserve_bay %}</a></li>
    <li><a href="{% tl compound %}">{% t menu.operations.compound %}</a></li>
    <li><a href="{% tl rate %}">{% t menu.operations.rate %}</a></li>
  </ul>
</li>
<li><a href="{% tl contact %}">{% t menu.contact %}</a></li>
