---

layout: page
title: Operasi
namespace: rate
permalink: /operasi/kadar-parkir.html
permalink_en: /operation/parking-rate.html
---

<div class="row">
  <div class="col m12">
    <h4>{% t menu.rate %}</h4>

    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><b>ZON A (PUSAT BANDAR) </b><small>PETAK KHAS</small></div>
        <div class="collapsible-body">{% tf operation/rate_zon_a.md %}</div>
      </li>
      <li>
        <div class="collapsible-header"><b>ZON B (LUAR PUSAT BANDAR &amp; BERAKTIVITI TINGGI)</b> <small>PETAK KHAS</small></div>
        <div class="collapsible-body">{% tf operation/rate_zon_b.md %}</div>
      </li>
      <li>
        <div class="collapsible-header"><b>ZON C (LUAR PUSAT BANDAR)</b> <small>PETAK KHAS</small></div>
        <div class="collapsible-body">{% tf operation/rate_zon_c.md %}</div>
      </li>
      <li>
        <div class="collapsible-header"><b>KADAR PAS BERMUSIM</b></div>
        <div class="collapsible-body">{% tf operation/rate_seasonal.md %}</div>
      </li>
      <li>
        <div class="collapsible-header"><b>SEWAAN PETAK HARIAN</b></div>
        <div class="collapsible-body">{% tf operation/rate_daily.md %}</div>
      </li>
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s12">
    <div id="search">
      <h4>{% t text.search %}</h4>
      <input type="text" placeholder="{% t text.search_placeholder %}" v-model="location_filter">
      <table v-if="location_filter" class="bordered striped">
        <tr>
          <th>NO</th>
          <th>{% t text.rate.area %}</th>
          <th>{% t text.rate.rate %}</th>
          <th>{% t text.rate.season_pass %}</th>
          <th>{% t text.rate.reserve_bay %}</th>
        </tr>
      {% raw %}
        <tr v-for="(loc, i) in filtered_loc">
          <td>{{ i+1 }}</td>
          <td>{{ loc[3] }}</td>
          <td>{{ loc[4] }}</td>
          <td>{{ loc[5] }}</td>
          <td v-html="loc[6]"></td>
        </tr>
      {% endraw %}
      </table>
    </div>
  </div>
</div>
