---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 2.5px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
$navbar-font-color: #333;

$roboto-font-path: "/assets/fonts/roboto/" !default;
// $primary-color: color("teal", "lighten-1");

@import "materialize";

$primary-color: $cyan;

html {
  line-height: 1.8;
}

nav {
  background-color: white;
  text-transform: uppercase;
  font-weight: 300;
}

.page-content {
  margin-top: 30px;
  .slider {
    margin-top: -30px;
  }
}

.slider {
  .caption {
    text-shadow: 2px 2px 5px rgba(0,0,0, .7);
  }
}

.lang-bar {
  background-color: #000;
  a {
    padding-left: 5px;
  }
}

.redbox {
  background-color: #fc2a1c;
  color: #fc2a1c;
}
.bluebox {
  background-color: #103ffb;
  color: #103ffb;
}
.yellowbox {
  background-color: #fffa38;
  color: #fffa38;
}

.collapsible-body {
  p {
    padding: 0;
    padding-top: 2rem;
    &:first-child {
      padding-top: 0;
    }
  }
  padding: 2rem;
}

// #terms {
//   ul {
//     list-style-type: disc;
//   }
// }
