---
layout: default
---

<!-- MENI HERO BG -->
<section id="hero-small" class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page.title }}
      </h1>
      <h2 class="subtitle">
        It's Not Just A Barber Shop, We Are Giving The Finest Gentleman's Care.
      </h2>
    </div>
  </div>
</section>

<section class="section">

  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>

</section>
